* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
  outline: none;
}
body {
  background-color: #191a19;
}
header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #4e9f3d;
  color: #1e5128;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1 {
  font-size: 50px;
  padding: 10px;
}
nav {
  display: flex;
  font-size: 16px;
  font-weight: 900;
}
.navbar {
  list-style: none;
}
.links {
  color: #1e5128;
  text-decoration: none;
  padding: 0 10px;
}
nav a:hover {
  color: #c2e9a8;
  border-bottom: 2px solid #c2e9a8;
}
#search-bar {
  background-color: #d8e9a8;
  border-radius: 30px;
  border: 2px solid #1e5128;
  height: 30px;
  padding: 5px;
  color: #1e5128;
  position: relative;
}
#search-bar:focus {
  background-color: #c2e9a8;
}
.first-section {
  color: #4e9f3d;
  width: 650px;
  text-align: center;
  border: 2px solid #1e5128;
  padding: 20px;
  border-radius: 40px;
  margin: 50px auto;
}
.first-section h2 {
  font-size: 26px;
  padding: 10px;
}
#products {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.product-card {
  width: 300px;
  height: 400px;
  background-color: #4e9f3d;
  padding: 20px;
  border-radius: 40px;
  text-align: center;
  color: #191a19;
}
img {
  width: 150px;
  height: 100px;
  border-radius: 20px;
  margin-top: 30px;
}
.product-card h3,
p {
  padding-top: 20px;
}
.product-card p {
  width: 200px;
  margin: 20px auto;
}
.product-card a {
  text-decoration: none;
  background-color: #191a19;
  color: #4e9f3d;
  padding: 3px 10px;
  border-radius: 20px;
}
.product-card a:hover {
  background-color: #1e5128;
  color: #191a19;
}
.product-card a:visited {
  color: #c2e9a8;
}
footer {
  background-color: #4e9f3d;
  color: #1e5128;
  margin-top: 50px;
}
footer .name {
  font-size: 30px;
  font-weight: 900;
  padding-top: 5px;
}

footer .parent {
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.social-parent {
  width: 100vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.social img:hover {
  transform: scale(1.1);
}
.size {
  width: 285px;
}

.social img {
  width: 14%;
  height: 14%;
  margin: 10px;
  background-color: #191a19;
}
#not {
  background-color: #4e9f3d;
}
.footer-links a {
  text-decoration: none;
  color: #1e5128;
  margin: 10px;
}
.footer-links a:hover {
  color: #c2e9a8;
  border-bottom: 2px solid #c2e9a8;
}
footer #email {
  background-color: #d8e9a8;
  border-radius: 30px;
  border: 2px solid #1e5128;
  height: 30px;
  padding: 5px;
  color: #1e5128;
}
::placeholder {
  color: #1e5128;
}
footer button {
  background-color: #d8e9a8;
  border: none;
  color: #1e5128;
  padding: 2px;
  width: 60px;
  border-radius: 20px;
}
footer #email:focus {
  background-color: #c2e9a8;
}
footer button:hover {
  background-color: #c2e9a8;
}
footer p {
  padding: 5px;
  text-align: center;
  background-color: #1e5128;
  color: #4e9f3d;
}
.sub {
  position: relative;
}
footer label {
  position: absolute;
  top: -35px;
  left: 5px;
}
@media (max-width: 1024px) {
  header {
    flex-wrap: wrap;
  }
  h1,
  .links {
    font-size: 35px;
    padding: 5px;
  }
  header .links,
  label {
    font-size: 13px;
  }
  header input {
    width: 160px;
  }
  .first-section {
    width: 512px;
    padding: 15px;
  }
  .first-section h2 {
    font-size: 22px;
  }
  .first-section p {
    font-size: 15px;
    padding: 10px;
  }
  .product-card {
    width: 230px;
    height: 330px;
    border-radius: 30px;
    padding: 15px;
  }
  .product-card img {
    margin-top: 15px;
    width: 120px;
    height: 80px;
  }
  .product-card p {
    padding: 0;
  }

  footer .name {
    font-size: 25px;
  }

  .footer-links a {
    font-size: 13px;
    font-weight: 600;
    margin: 0 5px;
  }
  footer input,
  button {
    font-size: 10px;
  }
  footer label {
    font-size: 11px;
    top: -25px;
    left: 25px;
  }
  footer button {
    width: 39px;
  }
  .social img {
    width: 12%;
    height: 12%;
  }
  footer p {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  header {
    padding: 5px;
  }
  h1,
  .links {
    font-size: 25px;
    padding: 5px;
  }
  header .links {
    font-size: 11px;
  }
  header input {
    width: 130px;
  }
  header form {
    display: none;
  }
  .first-section {
    width: 355px;
    margin: 30px auto;
  }
  .first-section h2 {
    font-size: 18px;
  }
  .first-section p {
    font-size: 12px;
  }
  .product-card {
    width: 170px;
    height: 200px;
    margin: 0 10px;
    margin-top: 20px;
  }
  .product-card img {
    width: 110px;
    height: 70px;
    margin-top: 5px;
  }
  .product-card h3 {
    padding: 10px 0;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .product-card p {
    display: none;
  }

  footer {
    margin-top: 30px;
  }
  footer .name {
    font-size: 20px;
  }
  .footer-links {
    min-width: 158px;
  }
  .footer-links a {
    font-size: 10px;
    margin: 0 2px;
  }
  .social img {
    margin: 5px;
  }

  footer button,
  #email {
    font-size: 8px;
    width: 30px;
    height: 15px;
  }
  footer #email {
    width: 100px;
    height: 15px;
    padding: 2px;
  }
  footer label {
    display: none;
  }
  footer p {
    font-size: 11px;
  }
}
@media (max-width: 375px) {
  .first-section {
    width: 300px;
  }
  .first-section h2 {
    padding: 0;
  }
}
